[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen
[submodule "builds/wal-discord"]
	path = builds/wal-discord
	url = https://github.com/guglicap/wal-discord
[submodule ".emacs.d"]
	path = .config/emacs
	url = https://github.com/doomemacs/doomemacs.git
