[push]
	default = simple
[credential]
	helper = store
[user]
	email = james@retrocraft.ca
	name = James Ah Yong
	signingkey = F7685AAEA22F971A
[core]
	autocrlf = false
[github]
	user = RetroCraft
[gpg]
	program = gpg2
[commit]
	gpgsign = true
