[push]
	default = simple
[credential]
	helper = store
[user]
	email = james@retrocraft.ca
	name = James Ah Yong
[core]
	autocrlf = false
[github]
	user = RetroCraft
[gpg]
	program = gpg2
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
